<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Singcere_Dw安装使用说明</title>
</head>

<body>
<p>您好，这是一份新诚互联模板的安装文档。废话不多说：</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>从应用中心购买安装的商业客户，免除以下1、2、两个步骤：<br />
  ————————————————————————————————————————<br />
  1、上传：把singcere_dw文件夹上传到template目录下。</p>
<p>2、后台：界面 → 风格管理 → 安装风格。<br />
  ————————————————————————————————————————</p>
<p>3、后台：界面 → 风格管理 → 启用风格。</p>
<p>4、更新缓存。</p>
<p>5、前台：门户首页 → DIY → 高级模式 → 导入 → 上传“Diy包/portal_index.xml”。</p>
<p>6、前台：论坛首页 → DIY → 高级模式 → 导入 → 上传“Diy包/forum_index.xml”。</p>
<p>7、背景模版PSD下载地址：<a href="http://xa.ctfs.ftn.qq.com/ftn_handler/3fe1dd04a8d850b2b201f71721f8359cc908bbcf985a037cc162dc95d5407f011ac1d9ed47aedcd8d2f28ab0c4d06b72a00d70572b90df89ad47a02eadf017ca/Singcere_DW%20Psd%E6%96%87%E4%BB%B6.zip?k=2a663830f1cf5e9836be5f301639504956505c05530b54054b545c0153145607565315090909514b020500075201010553570f07302e62350f085f53554b073922311860435daca2da98164a59496224&fr=00&&txf_fid=1ab3b5e54b8e466652c700d503c3e0ae1223c36f">直接下载</a> (提取码 ff8009bf)</p>
<p>8、300个论坛图标文件下载地址：<a href="http://xa.ctfs.ftn.qq.com/ftn_handler/db0d97b2e4230b0b39e8cce896b83bc76ae61876c26d6bb7b378f3958133fe77a13937a651b9b252283de71669aed7650cc836855a7472a8a1b2d536d8bc07b2/300%E4%B8%AA%E8%AE%BA%E5%9D%9B%E5%9B%BE%E6%A0%87.zip?k=23383431b6849b9a35e053314438064a5d0c0155550f0d07485b505255150057550e19085b5c524850085503015c0056520e07546229345655088cc7a0e3f8d6a88485db4c425d15657a&amp;fr=00&amp;&amp;txf_fid=b95ac2528a6d3e89a4be5bed33dd176ea543e649">直接下载</a> (提取码 e841b84e)</p>
<p></p>
<p>由于您的站点和模板演示站点原先数据不同，所以按如上步骤安装完后，有很多地方是空白的，您的网站必须有数据，做一些细微调整，才能看到最终的效果。<br />
  使用页面的DIY就可以调整要调用的内容了。have fun!<br />
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>使用说明：<br />
  ——————————————————————————————————————————————————————<br />
  1、首页所有模版均在页面DIY模式下修改。</p>
<p>2、如果要设置论坛不同板块使用不同色系的模版：后台 → 论坛 → 板块管理 → 编辑你要修改的板块 → 扩展设置 → 风格方案（共有9种，选择即可。）</p>
<p>3、首页邮件订阅需要申请QQ邮件订阅服务：http://list.qq.com，申请之后用户就可以通过订阅页面订阅您的邮件，以后可以给客户群发邮件。</p>
<p>4、所有背景图片均在：\template\singcere_dw\src\img\logo 目录中。使用我们提供的PSD，制作相同大小的背景（1600*300），替换即可</p>
<p>5、首页微播，在DIY编辑中，论坛板块选择广播专区即可，如果看不到广播专区，请：<br />
  后台 → 论坛 → 板块管理 → 编辑广播专区，将显示分区，改成“是”。<br />
  更新缓存后，在首页就可以看到广播专区了。<br />
  首页设置之后，再回到论坛恢复，将显示分区，改成“否”<br />
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>——————————————————————————————————————————————————————<br />
  安装使用中有任何问题，请通过下列方式联系Singcere! 新诚互联，我们会竭诚为您服务：<br />
  ——————————————————————————————————————————————————————</p>
<p>网址：http://www.singcere.net</p>
<p>邮件：service@singcere.net</p>
<p>QQ：6805584</p>
<p>——————————————————————————————————————————————————————</p>
<p>最后谢谢您选择使用新诚互联的模板，祝您一天好心情。^ ^<br />
</p>
</body>
</html>
